// @import '../../styles/variables';

.todo-item-wrapper {
  width: 100%;
  padding: 0.5em;
  border-radius: $border-radius-s;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;

  span {
    flex-grow: 1;
  }

  &:hover {
    background-color: $color-secondary-hovered;

    .btn-delete {
      i {
        color: #dc3545;
      }
    }

    .btn-edit {
      i {
        color: rgba($text-light, 0.5);
      }
    }

    .btn-apply {
      i {
        color: #138636;
      }
    }
  }
}

.completed {
  text-decoration: line-through;
  color: rgba($text-light, 0.5);
}

.btn-delete,
.btn-edit {
  i {
    color: transparent;
  }
}
